<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IP_Sender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <IP_Sender.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="PCName" serializeAs="String">
                <value>Main</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPass" serializeAs="String">
                <value />
            </setting>
            <setting name="LogSends" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLoginFailures" serializeAs="String">
                <value>True</value>
            </setting>
        </IP_Sender.Properties.Settings>
    </userSettings>
</configuration>